*{
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*---------------------------------------------portfolio---------------------------------------------*/

.main{
    width: 99.2dvw;
    height: 200dvh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    width: 99.2dvw;
    height: 5dvh;

    display: flex;
}

.redirectionHome{
    width: 50%;
    display: flex;

    align-items: center;
    justify-content: end;
}

.redirectionPortifolio{
    width: 50%;
    display: flex;

    align-items: center;
    justify-content: center;
}

.redirectionCurriculo{
    width: 50%;
    display: flex;

    align-items: center;
    justify-content: start;
}

.person{
    width: 50%;
    height: 100%;
}

.text{
    width: 50%;
    height: 100%;
}